@page "/mysql/servers"


@using ProxysqlAdminUi.Web.Models
@using ProxysqlAdminUi.Web.Repositories

@attribute [Authorize]

@inject ProxySqlRepository ProxySqlRepository

<h3>MySQL Servers</h3>

<RadzenDataGrid TItem="MysqlServerModel" Data="@MySqlServers" AllowPaging="true" PageSize="10">
    <Columns>
        <RadzenDataGridColumn Property="@nameof(MysqlServerModel.HostgroupId)" Title="Host Group ID" />
        <RadzenDataGridColumn Property="@nameof(MysqlServerModel.Hostname)" Title="Hostname" />
        <RadzenDataGridColumn Property="@nameof(MysqlServerModel.Port)" Title="Port" />
        <RadzenDataGridColumn>
            <Template>
                <RadzenButton Text="Edit" Click="@ShowEditModal" Icon="Edit" />
                <RadzenButton Text="Delete" Click="@ShowDeleteModal" Icon="Delete" />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {
    private List<MysqlServerModel> MySqlServers { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        MySqlServers = (await GetMySqlServersAsync()).ToList();
    }

    private async Task<IEnumerable<MysqlServerModel>> GetMySqlServersAsync()
    {
        return await ProxySqlRepository.GetMySqlServers();
    }

    private void ShowEditModal()
    {
        // Implement edit functionality using the selected MySQL server.
    }

    private void ShowDeleteModal()
    {
        // Implement delete functionality using the selected MySQL server.
    }
}

