@page "/mysql/rules/delete/{RuleId:int}"

@using ProxysqlAdminUi.Web.Models
@using ProxysqlAdminUi.Web.Repositories

@attribute [Authorize]


@inject ProxySqlRepository ProxySqlRepository
@inject DialogService DialogService
@inject NotificationService NotificationService

<RadzenContent Container="main">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <RadzenTemplateForm TItem="MysqlQueryRule" Data=@queryRule Submit=@OnConfirmDelete>
                <RadzenCard>
                    <div class="row">
                        <div class="col">
                            <h3 class="h5">Confirm Delete</h3>
                            <div class="row mb-3">
                                <div class="col">
                                    <p>Are you sure you want to delete Query Rule #@RuleId?</p>
                                    @if (queryRule != null)
                                    {
                                        <div class="alert alert-info">
                                            <strong>Rule Details:</strong><br />
                                            Rule ID: @queryRule.RuleId<br />
                                            Active: @queryRule.Active<br />
                                            Username: @queryRule.Username<br />
                                            Schema Name: @queryRule.Schemaname<br />
                                            Client Addr: @queryRule.ClientAddr<br />
                                            Proxy Addr: @queryRule.ProxyAddr<br />
                                            Match Digest: @queryRule.MatchDigest<br />
                                            Match Pattern: @queryRule.MatchPattern
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex justify-content-end gap-2">
                                    <RadzenButton ButtonType="ButtonType.Submit" 
                                                Icon="delete" 
                                                Text="Delete"
                                                ButtonStyle="ButtonStyle.Danger" />
                                    <RadzenButton ButtonType="ButtonType.Button"
                                                Icon="cancel" 
                                                Text="Cancel"
                                                ButtonStyle="ButtonStyle.Light"
                                                Click=@OnCancel />
                                </div>
                            </div>
                        </div>
                    </div>
                </RadzenCard>
            </RadzenTemplateForm>
        </div>
    </div>
</RadzenContent>

@code {

    [Parameter]
    public int RuleId { get; set; }

    private MysqlQueryRule queryRule;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            queryRule = await ProxySqlRepository.GetMySqlQueryRule(RuleId);
        }
        catch (Exception ex)
        { 
            NotificationService.Notify(NotificationSeverity.Error, "Error","Failed to load query rule details.\r\n" + ex.Message);

            DialogService.Close();
        }
        finally
        {
            isLoading = false;
        }
    }

    private async Task OnConfirmDelete()
    {
        try
        {
            await ProxySqlRepository.DeleteMySqlQueryRule(RuleId);

            NotificationService.Notify(NotificationSeverity.Success, "Success", 
                $"Query Rule #{RuleId} has been deleted.");
            DialogService.Close();
        }
        catch (Exception ex)
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error", 
                "Failed to delete query rule.\r\n"+ex.Message);
        }
    }

    private void OnCancel()
    {
        DialogService.Close();
    }
}
